<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:hbase.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="cn.panda.web.dao,
                                         cn.panda.web.service,
                                         cn.panda.web.mapper,
                                         cn.panda.web.filter,
                                         cn.panda.web.mapper.stat,
                                         cn.panda.web.dao.hbase,
                                         cn.panda.web.dao,
                                         cn.panda.web.mapper,
                                         cn.panda.web.controller,
                                         cn.panda.common.hbase,
                                         cn.panda.collector.dao.hbase.stat.stat,
                                         cn.panda.common.server.bo,
                                         cn.panda.common.server.utils"/>
    <mvc:annotation-driven/>
    <!--<tx:annotation-driven />-->

    <import resource="classpath:applicationContext-hbase.xml"/>
    <bean id="jsonObjectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
    </bean>
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="jsonObjectMapper"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
        <!-- another filter caches -->
        <property name="disableCaching" value="false"/>
    </bean>

    <bean id="jsonpView" class="cn.panda.web.utils.MappingJackson2JsonpView">
        <!-- another filter caches -->
        <property name="disableCaching" value="false"/>
    </bean>

    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver"/>-->
    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver"/>-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <mvc:interceptors>
        <bean id="webContentInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
            <property name="cacheSeconds" value="0"/>
            <property name="useExpiresHeader" value="true"/>
            <property name="useCacheControlHeader" value="true"/>
            <property name="useCacheControlNoStore" value="true"/>
        </bean>
<!--        <mvc:interceptor>
            <mvc:mapping path="/admin/**" />
            <bean class="com.navercorp.pinpoint.web.interceptor.AdminAuthInterceptor" />
        </mvc:interceptor>-->
    </mvc:interceptors>

    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>
</beans>
